.empty-cart-warp{
    width: 100%;
}
.empty-cart{
    margin: 0 auto;
    text-align: center;
}
.empty-cart .icon-cart{
    font-size: 5rem;
    color: #333;
}
.empty-cart .cart-tip{
    font-size: .8rem;
    line-height: 1.25rem;
    margin: .75rem 0;
    color: #333;
}
.empty-cart .btn-empty-cart{
    width: 7.5rem;
}
.cart-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.cart-list li{
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    position: relative;
}
.cart-list .goods-remove{
    position: absolute;
    right: .4rem;
    top: .4rem;
}
.cart-list .goods-remove a,.cart-list .goods-remove a:hover,.cart-list .goods-remove a:active{
    color: #999;
}
.cart-list .goods-img{
    width: 5.5rem;
    height: 5.5rem;
}
.cart-list .goods-img img{
    width: 100%;
}
.cart-list .goods-info{
    padding-left: .25rem;
}
.cart-list .goods-name{
    margin-top: .5rem;
}
.cart-list .goods-buy{
    display: flex;
}
.cart-list .goods-rule{
    padding: .5rem 0 .2rem 0;
}
.cart-list .rule{
    font-size: .7rem;
}
.cart-list .rule.active .rule_price{
    color: #ff655b;
}
.cart-list .amount-input{
    width: 2rem;
}
.cart-list .goods-action{
    width: 5rem;
    position: relative;
}
.cart-list .action-group{
    position: absolute;
    bottom: .2rem;
    right: .4rem;
    overflow: hidden;
}
.cart-list .action-group > *{
    float: right;
}
.cart-list .amount-down,.cart-list .amount-up{
    border: 1px solid #d9d9d9;
    color: #41c172;
    display: inline-block;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    width: 1.3rem;
}
.cart-list .amount-down{
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}
.cart-list .amount-input{
    border-color: #d9d9d9 -moz-use-text-color;
    border-style: solid none;
    border-width: 0.05rem medium;
    height: 1.3rem;
    text-align: center;
    width: 2rem;
}
.cart-list .amount-up{
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.button.button-clearing,.button.button-clearing:active{
    top: .45rem;
    background-color: #41c172;
}
.cart-total p{
    margin-top: .1rem;
    font-size: .65rem;
}
.cart-total .cash{
    color: #ff655b;
}